@import base.sass

.disclamer
  @extend %d-flex-c
  justify-content: flex-start
  width: 90%
  height: fit-content
  margin-bottom: 10vh
  background: #d1d1d16e
  border-radius: 25px
  padding: 50px

  h4
    color: white
    text-shadow: 3px 1px 6px #000000


  .lorem
    margin: 20px 0
    body
      color: white
      text-shadow: 11px 7px 16px #000000
      text-align: justify
    