@import base.sass

.sbody
  @extend %d-flex-r
  width: 100%
  position: relative
  height: 80vh

  #regForm::before
    content: ''
    top: 5vw
    left: 10vw
    position: absolute
    z-index: 0
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%)
    opacity: 0.5
    display: block
    width: 30%
    height: 30%
    transform: rotate(20deg)

  #regForm::after
    content: ''
    bottom: 10vw
    right: 30vw
    position: absolute
    z-index: 0
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%)
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%)
    opacity: 0.5
    display: block
    width: 30%
    height: 40%
    transform: rotate(-20deg)

  #regForm
    @extend %d-flex-c
    width: 80%
    height: 100%
    background: rgb(255,255,255)
    border-top-right-radius: 50px
    box-shadow: -5px -4px 8px 0 rgba(255, 255, 255, 0.2), 5px 4px 20px 0 rgba(255, 255, 255, 0.19)
    // overflow-y: scroll
    justify-content: flex-start

    form
      @extend %d-flex-c
      width: 85%
      height: 100%
      justify-content: space-evenly
      overflow-y: auto

      div
        margin: 2% 0

    form div:first-child
      margin-bottom: 0

    #submit
      z-index: 2

  #sideText
    @extend %d-flex-c
    width: 20%
    height: 100%

    span
      color: white
      font-size: 2rem
      line-height: 1.5
      font-family: $font-cursive
      text-shadow: 11px 7px 16px #000000

@media only screen and ( max-width: 740px )
  .sbody     
      #regForm
        width: 90%
        height: 100%
        form
          div
            margin: 5% 0
      #sideText 
        span
          font-size: 1rem


@media only screen and ( max-width: 590px )
  .sbody 
    #sideText 
      width: 10%
          
    #regForm
      width: 90%
      height: 100%
      form
        div
          margin: 6% 0

@media only screen and ( max-height: 768px )
  .sbody 
    #regForm
      form
        justify-content: flex-start !important
  #sideText 
    span
      font-size: 4vh !important
