@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')
@import ../src/sass/base.sass

*
  font-family: 'Roboto', sans-serif


.App 
  display: flex
  justify-content: center
  width: 100%
  height: 100vh
  margin: 0
  padding: 0
  // background: rgb(0,255,170)
  // background: linear-gradient(to right, rgb(255, 153, 102), rgb(255, 94, 98))
  background: #007991  
  background: -webkit-linear-gradient(to right, #78ffd6, #007991)  
  background: linear-gradient(to right, #78ffd6, #007991) 




.Parent
  @extend %d-flex-c
  width: 100%
  // height: 100vh
  justify-content: flex-start
  align-items: flex-start
  overflow-y: auto
  padding: 0 50px
  animation: fadeInAnimation ease 2s 
  animation-iteration-count: 1 
  animation-fill-mode: forwards

  @keyframes fadeInAnimation 
    0% 
      opacity: 0
    100% 
      opacity: 1


  .header
    @extend %d-flex-r
    width: 100%
    min-height: 100px
    height: 15vh
    justify-content: space-between
    // background: white
    h1,h3
      margin: 0
      display: inline-block
      color: white
      font-family: $font-thick
      letter-spacing: 4px
      font-weight: 100
      text-shadow: 0px 0px 20px #000000

    .user
      @extend %d-flex-r
      width: fit-content


@media screen and ( max-width: 440px )
  .Parent
    padding: 2px
  .header h1
    font-size: 3vh
  